extends include/template

block title
	title Woman coats
block link
	+addCss(['style', 'category'])
block content
	.wraper
		+addressBar (['HOME', 'woman', 'coats'])
	main.content.wraper
		section.content__section
			h1.category__title woman coats
			.content__line
				+addProduct([{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top1'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top2'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top3'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top4'}])
			.content__line
				+addProduct([{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top1'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top2'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top3'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top4'}])
			.content__line
				+addProduct([{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top1'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top2'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top3'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top4'}])
			.content__line
				+addProduct([{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top1'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top2'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top3'},
				{'href':'womanCoatsProduct.html', 'src':'image/womanCoatsL.jpg', 'price':'98.85$', 'name':'Double-Layered Top4'}])
		section.lookbook__section
			p.lookbook__section_title Check our lookbook
			.lookbook__slider
				button.lookbook-slider__botton_left &#706
				.lookbook-slider__content
				button.lookbook-slider__botton_right &#707	

