footer.footer.wraper
	div.footer__content
		.footer__collection
			p.footer__content_title COLLECTION
			+addList({'Woman \(1725\)':'woman.html', 'Men \(635\)':'men.html', 'Kids \(2514\)':'kids.html', 'Comming Soon \(76\)':'commingSoon.html'}, 'menu__list', 'menu__list_item')
		.footer__site
			p.footer__content_title SITE
			+addList({'Terms of Service ':'support.html', 'Privacy Policy':'support.html', 'Copyright Policy':'support.html', 'Press Kit':'support.html', 'Support':'support.html'}, 'menu__list', 'menu__list_item')
		.footer__shop
			p.footer__content_title SHOP
			+addList({'About us':'about.html', 'Shipping Metods':'about.html', 'Career':'about.html', 'Contact':'about.html'}, 'menu__list', 'menu__list_item')
		.footer__social
			p.footer__content_title SOCIAL
			p.footer__social_text Shoper is made with love in Warsaw, 2014 © All rights reserved. El Passion
			.footer__social_icons
				a(href='https://twitter.com/?lang=ru').footer__social_twitter
				a(href='https://uk-ua.facebook.com').footer__social_facebook
				a(href='https://www.instagram.com').footer__social_instagram
 






